@model List<AksesyonDefteri>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Aksesyon Kayıt</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Aksesyon" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Yeni Aksesyon Oluştur
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Bitkinin Adi</th>
        <th>Aksesyon Numarasi</th>
        <th>Materyal çeşidi</th>
        <th>Koken</th>
        <th>Lokasyon</th>
        <th>Koordinat</th>
        <th>Toplanma Tarihi</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.BitkininAdi))
        {
            <tr>
                <td>@obj.BitkininAdi</td>
                <td>@obj.AksesyonNumarasi</td>
                <td>@obj.MateryalCesidi</td>
                <td>@obj.Koken</td>
                <td>@obj.Lokasyon</td>
                <td>@obj.Koordinat</td>
                <td>
                    @(obj.ToplanmaTarihi == DateTime.MinValue 
                        ? "-" 
                        : obj.ToplanmaTarihi.ToString("dd.MM.yyyy"))
                </td>
            </tr>
        }
    </tbody>
</table>
