@using Otobur.Models.Models
@model List<TohumBankasi>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Tohum Bankası Kayıt</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="TohumBankasi" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Yeni Tohum Bankası Kayıt
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Aksesyon Numarası</th>
                <th>Bitkinin Adı</th>
                <th>Miktarı</th>
                <th>Bulunduğu Dolap</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.AksesyonNumarasi</td>
                    <td>@obj.Aksesyon?.BitkininAdi</td>
                    <td>@obj.Miktar</td>
                    <td>@obj.BulunduguDolap</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a asp-controller="Aksesyon" asp-action="Edit" asp-route-id="@obj.AksesyonNumarasi"
                               class="btn btn-sm btn-outline-primary rounded-circle"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Düzenle">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-controller="Aksesyon" asp-action="Delete" asp-route-id="@obj.AksesyonNumarasi"
                               class="btn btn-sm btn-outline-danger rounded-circle"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Sil">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>